.name{
    text-align: center;
    color: rgba(0, 0, 0, 0.842);
    background-color:rgba(212, 199, 133, 0.386);
    margin-left: 330px;
    margin-right: 330px;
}
body{
  background-image:
  linear-gradient(45deg,
    rgba(245,70,66, 0.75),
    rgba(8,83,156, 0.75)), url('phoenix3.jpg');
    background-size: cover;
    }
.info{
    padding-left: 55px;
    padding-top: 10px;
    margin-left: 200px;
    margin-top: 100px;
    width:100%;
	margin:auto;
	max-width:550px;
	min-height:450px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(43, 8, 8, 0.705),0 17px 50px 0 rgba(86, 39, 39, 0.678);
	background-color:rgba(147, 195, 138, 0.447);
    
}
.form{
    min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.button {
  background-color: #c2fbd77b;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 400px;
}
.button:hover {
  box-shadow: rgba(48, 160, 138, 0.267) 0 -25px 18px -14px inset,rgba(58, 169, 114, 0.299) 0 1px 2px,rgba(44, 157, 119, 0.221) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.confused{
  background-image:
  linear-gradient(45deg,
    rgba(245,70,66, 0.75),
    rgba(8,83,156, 0.75)), url('phoenix3.jpg');
    color: #fff;
}
.engineering{
  
  background-image:
  linear-gradient(45deg,
    rgba(245,70,66, 0.75),
    rgba(8,83,156, 0.75)), url('phoenix3.jpg');
    color: #fff;
    background-size: cover;
}
.Medical{
  background-image:
  linear-gradient(45deg,
    rgba(245,70,66, 0.75),
    rgba(8,83,156, 0.75)), url('phoenix3.jpg');
    color: #fff;
}
.en{
  padding-top: 20px;
  margin-right: 120px;
  margin-top: 40px;
}
.tab_eng {
  margin-right: 200px;
}
.college{
  padding-left: 400px;
}
.medico{
  padding-left: 250px;
}
.conf{

  margin-right:140px;
}
.para{
  margin-top: 100px;
  text-align: center;
 }

@media screen and (max-width: 700px) {
  .name {
    text-align: center;
    color: rgb(14, 17, 12);
    background-color:rgba(145, 201, 124, 0.345);
    margin-left: 100px;
    margin-right: 100px;
  }
button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  margin-left: 400px;
}
.button:hover {
  box-shadow: rgba(48, 160, 138, 0.267) 0 -25px 18px -14px inset,rgba(58, 169, 114, 0.299) 0 1px 2px,rgba(44, 157, 119, 0.221) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.medico{
  margin-top: 100px;
  align-content: center;
}
.en{
  margin-right: 25px;
}
.tab_eng {
  margin-top: 230px;
  margin-left: 370px;
}
.college{
  padding-left: 10px;
  margin-top: 25px;
}
h4{
  text-align: end;
}
.conf2{
      padding-bottom: 25px;
}
.medico{
  margin-top: 230px;
  margin-left: -260px;
}
.button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 250px;
  margin-bottom: 50px;
}
.button:hover {
  box-shadow: rgba(48, 160, 138, 0.267) 0 -25px 18px -14px inset,rgba(58, 169, 114, 0.299) 0 1px 2px,rgba(44, 157, 119, 0.221) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.info{ 
margin: auto;
max-width:350px;
min-height:450px;
position:relative;
box-shadow:0 12px 15px 0 rgba(53, 15, 15, 0.619),0 17px 50px 0 rgba(0, 0, 0, 0.566);
background-color:rgba(149, 207, 128, 0.258);
  
}
.name{
  text-align: center;
  color: rgba(0, 0, 0, 0.842);
  background-color:rgba(195, 138, 143, 0.404);
  margin-left: 0px;
  margin-right: 0px;
}
body{
  background-image:
      linear-gradient(15deg,
        rgba(245,70,66, 0.75),
        rgba(8,83,156, 0.75)), url('phoenix2.jpg');
        position: relative;
        color: #fff;
        height:800px;
    }
    .engineering{
      background-image:
      linear-gradient(15deg,
        rgba(245,70,66, 0.75),
        rgba(8,83,156, 0.75)), url('phoenix2.jpg');
        position: relative;
        color: #fff;
        height: 800px;
        background-size: cover;
    }
    .Medical{
      background-image:
      linear-gradient(45deg,
        rgba(245,70,66, 0.75),
        rgba(8,83,156, 0.75)), url('phoenix2.jpg');
      text-align: center;
        color: #fff;
        background-size: cover;
    }
    .confused{
      background-image:
      linear-gradient(45deg,
        rgba(245,70,66, 0.75),
        rgba(8,83,156, 0.75)), url('phoenix2.jpg');
        color: #fff;
        background-size: cover;
    }
    .conf{
    margin-top: -89px;
    margin-left: 367px;
    }
    .conf1{
      margin-top: 200px;
    }
    .para{
     margin-top: 20px;
    }
}